@keyframes ball-ani1{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(600px, 0px);  
    }
}
@keyframes ball-ani2{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(800px, 0);
    }
}
@keyframes ball-ani3{
    from{
        transform : translate(0,0);
    }
    to{
        transform : translate(1000px, 0);
    }
}
@keyframes ball-ani4{
    from{
        transform : translate(0,0);
    }
    to{
        transform : translate(1200px, 0);
    }
}
.ball_contents{
    position:relative;
    width:100vw;
    height:100vh;
    background:green;
}
.ball{
   width:30px;
   height:30px;
   border-radius:50%;
   margin:30px 0 0 30px;
}
.ball:nth-of-type(1){
    background:red;
    animation: ball-ani1 3s 4 alternate forwards;
}
.ball:nth-of-type(2){
    background:blue;
    animation: ball-ani2 3s 6 alternate forwards;
}
.ball:nth-of-type(3){
    background:pink;
    animation: ball-ani3 3s 10 alternate forwards;
}
.ball:nth-of-type(4){
    background:yellow;
    animation: ball-ani4 3s 15 alternate forwards;
}