body{
    background-color:#99CC99;
}
.box{
 width:150px;
 height:30px;
 background-color:green;   
 text-align: center;
 margin-left:30px;
 padding-top:10px;
 margin-top:20px;
 color:#FF0000;
 box-shadow:0.5px 0.5px 0.5px 0.5px;
}
#header_ui{
    display:flex;
    justify-content:center;
    width:1660px;
    height:100px;
    background-color:white;
    list-style:none;
    margin-left:40px;
}
.body_contents, .new_contents{
    background-color:white;
    margin-left:40px;
}
.body_contents{
    text-align:center;
    width:1700px;
    height:900px;
}
.new_contents{
    padding-top:50px;
    padding-left:100px !important; 
    width: 1600px;
    height:900px;
  }
.footer_contents{
    width:850px;
    height:100px;
    background-color:white;
    margin-left:40px;
    margin-top:20px;
    padding-top:1px;
    padding-left:850px;
}
#intro_box{
    list-style:none;
    display:flex;
    justify-content: center;
}
.box2{
    width:200px;
    height:100px;
    background-color:green;
    color:red;
    text-align:center;
    padding-top:75px;
    margin-left:20px;
    box-shadow: 1px 1px 1px 1px;
    font-size:30px;
}
.picture_part1{
    margin-bottom:100px;
    margin-top:20px;
    display:flex;

}
.picture_part2{
    display:flex;
    margin-top:100px;
}
.content1, .content2{
   
    margin-left:200px;
    margin-bottom:-200px;
    justify-content: center;
}
a:link{color:red; text-decoration:none;}
a:visited{color: black; text-decoration:none;}
a:hover{color:blue; text-decoration:underline;}

