body{
    font-family: 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
    -webkit-overflow-scrolling: touch;
    color:#555;
    background:#fff000;
    width:300vw;
}
.world{
   /* 일단 보류 가로로 만들어보자
    position: fixed;
    left:0;
    top:0;
   */
    perspective: 1000px;
    width:100%;
    height:100vh;
}
.stage{
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    transform-style:preserve-3d;
}
.house{
    display:inline-flex;
    width:100vw;
    height:100vh;
    transform-style: preserve-3d;
}
.wall{
    /*position : absolute;
    left:0;
    top:0;*/
    width:100vw;
    height:100vh;
    background: rgba(255,255,255,0.8);
}
.wall-content{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100vw;
    height:100vh;
    font-size:5rem;
}
.progress-bar-con{
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:10px;
    background:#555;
}
.progress-bar{
    width:0;
    height:100%;
    background:#00a88f;
}