.stage{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
    background:#333;
}

.door{
    position:relative;
    width:100px;
    height:150px;
}
.door-back{
    overflow:hidden;
    position:absolute;
    left:0;
    bottom:0;
    width:100px;
    height:100px;
}

.ilbuni{
    position:absolute;
    left:0;
    bottom:0;
    width:100px;
    height:100px;
    background-size: contain;
    background-repeat:no-repeat;
    background-position: 100% 50%;
    transform: translate3d(100%,0,0);
    transition:0.5s 0.5s;
}
.door:nth-of-type(1) .ilbuni{
   background-image:url("../imgs/ilbuni_0.png");
}
.door:nth-of-type(2) .ilbuni{
   background-image:url("../imgs/ilbuni_1.png");
}
.door:nth-of-type(3) .ilbuni{ 
   background-image:url("../imgs/ilbuni_2.png");
}

.door-body{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    bottom:0;
    transition:0.5s;
    transform-origin:0%;
}

.door:nth-of-type(1) .door-body{
    background: rgba(255,0,0,0.7);
}
.door:nth-of-type(2) .door-body{
    background: rgba(0,255,0,0.7);
}
.door:nth-of-type(3) .door-body{
    background: rgba(0,0,255,0.7);
}
.door:hover .door-body{
    transform: perspective(800px) rotateY(-100deg);
}
.door:hover .ilbuni{
    transform: translate3d(0,0,0);
}