.stage{
    background:#333;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.door{
    position:relative;
    width:100px;
    height:150px;
    border: 1px solid red;
}
.door-back{
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    height:100%;
    background:black;
}
.ilbuni{
    position: absolute;
    background-size:contain;
    background-position:50% 100%;
    background-repeat: no-repeat;
    width:100px;
    height:100px;
    top:0;
    bottom:0;
}
.door-body{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
}
.door:nth-of-type(1) .ilbuni{
    background-image: url('../imgs/ilbuni_0.png');
}
.door:nth-of-type(2) .ilbuni{
    background-image: url('../imgs/ilbuni_1.png');
}
.door:nth-of-type(3) .ilbuni{
    background-image: url('../imgs/ilbuni_2.png');
}

.door:nth-of-type(1) .door-body{
    background :red;
}
.door:nth-of-type(2) .door-body{
    background: yellow; 
}
.door:nth-of-type(3) .door-body{
    background: blue;
}

