body{
    margin: 0;
    font-size: 2em;
}

span{
    display:inline-block;

}
.container {
  font-size:0;
  background-color:pink;
}
.container:after{
    content:'';
    display: block;
    clear:both;
}
.item{
  padding: 5%;
  display:inline-block;
  font-size:1rem;
  vertical-align:top;
}
*{
    margin:0;
    padding:0;
}
.item-a{
   width:30%;
   background-color:yellow;
}
.item-b{
   width:50%;
   background-color:yellowgreen;
}
footer{
    clear:both;
    background: gray;
}